body {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background: #303030;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; /* Remove highlight, fixes selection bug */
}

h1 {
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 80px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.color-picker {
    height: 100px;
    width: 180px;
    border: 2px solid black;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.color-picker::-webkit-color-swatch {
    border-radius: 10px;
    border: 2px solid white;
}

.color-picker::-moz-color-swatch {
    border-radius: 10px;
    border: 2px solid white;
}

button {
    cursor: pointer;
    font-size: 20px;
    width: 180px;
    padding: 5px 0;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: #303030;
    outline: none;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

p {
    font-size: 20px;
    margin-top: -10px;
}

.slider {
    width: 170px;
    appearance: none;
    border-radius: 10px;
    outline: none;
    height: 8px;
}

.display {
    border: 2px solid black;
    flex-shrink: 0;
    height: 500px;
    width: 500px;
    padding: 0px;
    display: grid;
}

.display div {
    background: white;
}

.controls .on {
    background-color: white;
    color: black;
    border: 1px solid black;
}

footer {
    padding: 10px;
    font-size: inherit;
    margin-bottom: -15px;
}

.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}